$prefix: "calls";

.#{$prefix} {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;

  .#{$prefix}-header {
    height: 24px;
  }

  .#{$prefix}-table-wrapper {
    min-width: min-content;
    height: calc(100vh - 2 * 80px - 24px - 16px);
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: var(--shadow);

    .#{$prefix}-table-inner {
      display: flex;
      overflow-y: auto;
      height: inherit;
      min-width: min-content;

      .#{$prefix}-table {
        // width: 1440px;
        flex-grow: 1;
        min-width: 1400px;
        height: 1900px;
      }
    }
  }
}
