# Ignore dirs:
dist
deployments
build
coverage
public
configs
docs
libs
scripts

.idea
.vscode
.devcontainer
.vitest

# Ignore Files
.env.development
.env.production
.env.test
.env.local
.env
.gitattributes
.gitignore
.gitlab-ci.yml
.gitmodules
.nvmrc
eslint.config.js
.eslint.config.json
.stylelintrc.js
.stylelintrc.json
index.html
jest.config.js
package-lock.json
package.json
README.md
tsconfig.app.json
tsconfig.json
tsconfig.node.json
vite-env.d.ts
vite.config.ts
yarn.lock