.text-body {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.text-caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
}

.text-caption-2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
